streamlit
langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-ollama

langchain-huggingface
langchain-groq
langchain-google-genai
langgraph
langsmith
pymupdf
rank-bm25
transformers
torch
pandas
numpy
pydantic
pydantic-ai
sentence-transformers
python-multipart
python-dotenv
faster-whisper
soundfile
datasets
num2words
qdrant-client
fastembed
llama-parse
fastapi
uvicorn[standard]
httpx
redis
rq
