streamlit
langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-ollama

langchain-huggingface
langchain-groq
langchain-google-genai
langgraph
langsmith
pymupdf
rank-bm25
transformers
--extra-index-url https://download.pytorch.org/whl/cu126
torch==2.12.1+cu126
pandas
numpy
pydantic
pydantic-ai
sentence-transformers
python-multipart
python-dotenv
faster-whisper
soundfile
datasets
piper-tts
ragas
num2words
qdrant-client
fastembed
llama-parse
fastapi
uvicorn[standard]
httpx
redis
rq
